This notebook is used for code that queries the databases for the purpose of generating plots and charts of the data.

In [ ]:
import matplotlib.pyplot as plt
import numpy as np
import sqlite3

In [ ]:
# path on rte
db_path = "/home/rte/data/db/arxiv_db_images.sqlite3"

In [ ]:
# Here we import the sqlite3 database and create a cursor

db = sqlite3.connect(db_path)
c = db.cursor()

In [ ]:
c.execute('PRAGMA TABLE_INFO({})'.format("metadata"))
info = c.fetchall()

print("\nColumn Info:\nID, Name, Type, NotNull, DefaultVal, PrimaryKey")
for col in info:
    print(col)

In [ ]:
c.execute('PRAGMA TABLE_INFO({})'.format("images"))
info = c.fetchall()

print("\nColumn Info:\nID, Name, Type, NotNull, DefaultVal, PrimaryKey")
for col in info:
    print(col)

In [ ]:
# Get list of all primary categories

c.execute('''
    SELECT substr(trim(metadata.cat),1,instr(trim(metadata.cat)||' ',' ')-1), count(images.identifier)
    FROM images
    LEFT JOIN metadata ON images.identifier = metadata.identifier 
    GROUP BY substr(trim(metadata.cat),1,instr(trim(metadata.cat)||' ',' ')-1)
    ORDER BY count(images.identifier) DESC    
    ''')
rows = c.fetchall()
for row in rows:
    print(row)

In [ ]:
print(len(rows))

In [ ]:
catlist = rows
for cat in catlist:
    print(str(cat[0]))

In [ ]:
sql = ('''
    SELECT count(metadata.identifier), strftime("%Y", metadata.created) as 'Y'
    FROM metadata
    WHERE substr(trim(cat),1,instr(trim(cat)||' ',' ')-1) = ?
    GROUP BY strftime("%Y", metadata.created)
    ORDER BY strftime("%Y", metadata.created) ASC
    ''')

data = []

for cat in catlist:
    print("querying for category: " + str(cat[0]))
    c.execute(sql, (cat[0], ))
    rows = c.fetchall()
    
#     print("total number of images found: " + str(len(rows)))
    print(rows)
#     print("total number of articles: " + rows[0][0])

    years = []
    totals = []
    
    for row in rows:
        years.append(row[1])
        totals.append(row[0])
        
    newdata = [cat[0], years, totals]
    data.append(newdata)

In [ ]:
pint(data)

In [ ]:
# print(data)
print(data[0])
print(data[0][1])

In [ ]:
print(len(data))

In [ ]:
print(len(data[170]))

In [ ]:
print(data[0][2])
print(len(data[0][1]))
print(len(data[0][2]))

In [ ]:
years = [1990, 2000, 2010, 2020]
points = [100, 125, 180, 260]
data = [["hep-ph", years, points]]

print(data)
print(data[0])
print(data[0][1])

In [ ]:
plt.plot(years, points, 'ro')
plt.axis([1980, 2030, 0, 300])
plt.show

In [ ]:
for cat in data:
    print(len(cat))
    print(cat[0])
    print("min year: " + min(cat[1]))
    print("max year: " + max(cat[1]))
    print(cat[2])
    print("min articles: " + min(cat[2]))
    print("max articles: " + max(cat[2]))

In [ ]:
plt.plot(data[0][1], data[0][2], '--o')
# plt.axis([1980, 2030, 0, 5000])
plt.show

In [ ]:

plt.plot(data[1][1], data[1][2], '--o')
# plt.axis([1980, 2030, 0, 5000])
plt.show
print(data[1][1])
print(data[1][0])

In [ ]:
from matplotlib.pyplot import figure

In [ ]:
count = 1
for d in data[0:9]:
    plt.subplot(3, 3, count)
    count += 1
    # d[1], d[2]
plt.show

In [ ]:
fig, ax = plt.subplots(3, 3, sharex='col', sharey='row')

In [ ]:
fig

In [ ]:
fig.set_size_inches(18.5, 10.5)
fig