# db_queries
#### Notebook for running python sqlite3 commands for querying database

In [1]:
import matplotlib.pyplot as plt
import numpy as np

In [2]:
import sqlite3

In [3]:
# path on rte
db_path = "/home/rte/data/db/arxiv_db_images.sqlite3"

In [4]:
# Here we import the sqlite3 database and create a cursor

db = sqlite3.connect(db_path)
c = db.cursor()

Get the pragma table info for each table

In [5]:
c.execute('PRAGMA TABLE_INFO({})'.format("metadata"))
info = c.fetchall()

print("\nColumn Info:\nID, Name, Type, NotNull, DefaultVal, PrimaryKey")
for col in info:
    print(col)

Column Info:
ID, Name, Type, NotNull, DefaultVal, PrimaryKey
(0, 'id', 'INTEGER', 0, None, 1)
(1, 'identifier', 'TEXT', 0, None, 0)
(2, 'created', 'TEXT', 0, None, 0)
(3, 'cat', 'TEXT', 0, None, 0)
(4, 'authors', 'TEXT', 0, None, 0)
(5, 'title', 'TEXT', 0, None, 0)
(6, 'abstract', 'TEXT', 0, None, 0)
(7, 'licence', 'TEXT', 0, None, 0)

In [6]:
c.execute('PRAGMA TABLE_INFO({})'.format("images"))
info = c.fetchall()

print("\nColumn Info:\nID, Name, Type, NotNull, DefaultVal, PrimaryKey")
for col in info:
    print(col)

Column Info:
ID, Name, Type, NotNull, DefaultVal, PrimaryKey
(0, 'id', 'INTEGER', 0, None, 1)
(1, 'identifier', 'TEXT', 0, None, 0)
(2, 'filename', 'TEXT', 0, None, 0)
(3, 'filesize', 'INT', 0, None, 0)
(4, 'path', 'TEXT', 0, None, 0)
(5, 'x', 'INT', 0, None, 0)
(6, 'y', 'INT', 0, None, 0)
(7, 'imageformat', 'TEXT', 0, None, 0)

Quick test to retrive one row

In [ ]:
c.execute('''
    SELECT * 
    FROM images 
    ORDER BY ROWID ASC 
    LIMIT 1
''')
rows = c.fetchall()
for row in rows:
    print(row)

In [ ]:
c.execute('''
    SELECT * 
    FROM metadata 
    ORDER BY ROWID ASC 
    LIMIT 1
''')
rows = c.fetchall()
for row in rows:
    print(row)

Find a few random entries, write to org mode

In [ ]:
c.execute('''
    SELECT * 
    FROM metadata 
    ORDER BY RANDOM() 
    LIMIT 3
''')
rows = c.fetchall()
with open("metadata_sample.org", "w+") as write_file:
    print("|", file=write_file, end = '')
    for row in rows:
    #     print(row)
        for item in row:
            print(str(item).replace("\n", " "), file=write_file, end = '')
            print("|", file=write_file, end = '')
        print("\n|", file=write_file, end = '')
write_file.close()

In [ ]:
c.execute('''
    SELECT * 
    FROM images 
    ORDER BY RANDOM() 
    LIMIT 3
''')
rows = c.fetchall()
with open("images_sample.org", "w+") as write_file:
    print("|", file=write_file, end = '')
    for row in rows:
    #     print(row)
        for item in row:
            print(str(item).replace("\n", " "), file=write_file, end = '')
            print("|", file=write_file, end = '')
        print("\n|", file=write_file, end = '')
write_file.close()

Find any duplicate identifiers

In [ ]:
# look for duplicate rows in the metadata table
c.execute('''
    SELECT identifier, COUNT(identifier)
    FROM metadata
    GROUP BY identifier
    HAVING COUNT(identifier) > 1
    ''')
rows = c.fetchall()
for row in rows:
    print(row)

In [ ]:
# look for duplicate rows in the images table (brings up totals for images by article ID)
c.execute('''
    SELECT identifier, COUNT(identifier)
    FROM images
    GROUP BY identifier
    HAVING COUNT(identifier) > 0
    ''')
rows = c.fetchall()
for row in rows:
    print(row)

In [ ]:
# Find the earliest date of an article

c.execute('''
    SELECT created, identifier
    FROM metadata
    WHERE created IS NOT NULL
    ORDER BY created ASC
    LIMIT 20
    ''')
rows = c.fetchall()
for row in rows:
    print(row)

In [ ]:
# Find the earliest dated articles and get the identifiers

c.execute('''
    SELECT images.identifier, metadata.created, metadata.identifier 
    FROM images
    LEFT JOIN metadata ON images.identifier = metadata.identifier
    WHERE metadata.created IS NOT NULL
    ORDER BY created ASC
    LIMIT 20
    ''')
    
rows = c.fetchall()
for row in rows:
    print(row)

In [ ]:
# Find total number of rows in metadata

c.execute('''
    SELECT count(*)
    FROM metadata
    ''')
rows = c.fetchall()
for row in rows:
    print(row)

In [ ]:
# Find total number of rows in images

c.execute('''
    SELECT count(*)
    FROM images
    ''')
rows = c.fetchall()
for row in rows:
    print(row)

In [ ]:
# Find total number of rows in images

c.execute('''
    SELECT count(*)
    FROM images
    WHERE x IS NOT null AND x != ''
    AND y IS NOT null AND y != ''
    AND imageformat is not null AND imageformat != ''
    ''')
rows = c.fetchall()
for row in rows:
    print(row)
print(len(rows))

In [ ]:
# Get average of the x size column

c.execute('''
    SELECT avg(x)
    FROM images
    ''')
rows = c.fetchall()
for row in rows:
    print(row)

In [ ]:
# Get average of the y size column

c.execute('''
    SELECT avg(y)
    FROM images
    ''')
rows = c.fetchall()
for row in rows:
    print(row)

In [ ]:
# Find where there are NULL values for x

c.execute('''
    SELECT id, identifier, path, filename, filesize, x, y, imageformat
    FROM images
    WHERE x is null or x = ''
    OR y is null or y = ''
    OR imageformat is null or imageformat = ''
    ''')
rows = c.fetchall()
for row in rows:
    print(row)

In [ ]:
# generate a text file listing paths of files that couldn't be identified
with open("identify_errors_db.txt", "a+") as f:
    for row in rows[:3]:
        filepath = row[2].split(".")[1:]
        print(filepath)
#         f.write(filepath + "," + image_id + "\n")

In [ ]:
print(len(rows))

In [ ]:
# Find where there are NULL values for y

c.execute('''
    SELECT id, identifier, path, filename, filesize, x, y, imageformat
    FROM images
    WHERE y is null or y = ''
    ''')
rows = c.fetchall()
for row in rows:
    print(row)

In [ ]:
print(len(rows))

In [ ]:
# Find where there are NULL values for identifier

c.execute('''
    SELECT id, identifier, path, filesize, x, y, imageformat
    FROM images
    WHERE identifier is null or identifier = ''
    ''')
rows = c.fetchall()
for row in rows:
    print(row)
    
# no result is a good result!

In [ ]:
# Find where there are NULL values for filesize

c.execute('''
    SELECT id, identifier, path, filesize, x, y, imageformat
    FROM images
    WHERE filesize is null or filesize = ''
    ''')
rows = c.fetchall()
for row in rows:
    print(row)

In [ ]:
print(len(rows))

In [ ]:
# save (commit) changes

db.commit()

In [ ]:
# Get total number of images per article

c.execute('''
    SELECT images.identifier, metadata.cat, count(images.identifier)    
    FROM images 
    LEFT JOIN metadata ON images.identifier = metadata.identifier 
    GROUP BY images.identifier
    ORDER BY count(images.identifier)
    ''')
rows = c.fetchall()
for row in rows:
    print(row)

In [ ]:
# Get total number of images per category

c.execute('''
    SELECT metadata.cat, count(images.identifier)
    FROM images
    LEFT JOIN metadata ON images.identifier = metadata.identifier 
    GROUP BY metadata.cat
    ORDER BY count(images.identifier) DESC    
    LIMIT 200
    ''')
rows = c.fetchall()
for row in rows:
    print(row)

In [ ]:
# Get total number of images per primary category only

c.execute('''
    SELECT substr(trim(metadata.cat),1,instr(trim(metadata.cat)||' ',' ')-1), count(images.identifier)
    FROM images
    LEFT JOIN metadata ON images.identifier = metadata.identifier 
    GROUP BY substr(trim(metadata.cat),1,instr(trim(metadata.cat)||' ',' ')-1)
    ORDER BY count(images.identifier) DESC    
    ''')
rows = c.fetchall()
for row in rows:
    print(row)

In [ ]:
fname = "stats_images_by_category.txt"
f = open(fname, "w+")
for row in rows:
    f.write(row[0] + ", " + str(row[1]) + "\n")
f.close()

In [ ]:
print(len(rows))

In [ ]:
# Get total number of images per primary category only - with a specific filter

c.execute('''
    SELECT substr(trim(metadata.cat),1,instr(trim(metadata.cat)||' ',' ')-1), count(images.identifier)
    FROM images
    LEFT JOIN metadata ON images.identifier = metadata.identifier
    WHERE substr(trim(metadata.cat),1,instr(trim(metadata.cat)||' ',' ')-1) = "cond-mat.mes-hall"
    GROUP BY substr(trim(metadata.cat),1,instr(trim(metadata.cat)||' ',' ')-1)
    ORDER BY count(images.identifier) DESC    
    ''')
rows = c.fetchall()
for row in rows:
    print(row)

('cond-mat.mes-hall', 243985)

In [ ]:
# Get number of articles with no category
# this seems to give no results

c.execute('''
    SELECT identifier, cat
    FROM metadata
    WHERE cat IS NULL OR cat = '' OR cat = 'None'
    ''')
rows = c.fetchall()
for row in rows:
    print(row)

In [ ]:
# Find where there is no matching metadata for a given image

c.execute('''
    SELECT count(images.identifier), images.identifier
    FROM images
    LEFT JOIN metadata ON metadata.identifier = images.identifier
    WHERE metadata.identifier IS NULL
    GROUP BY images.identifier
    ''')
rows = c.fetchall()
for row in rows:
    print(row)

In [ ]:
print(len(rows))

In [ ]:
print(sum(row[0] for row in rows))

In [ ]:
# Find where there is no identifier for an image

c.execute('''
    SELECT identifier, id, filename, filesize, path, x, y
    FROM images
    WHERE identifier IS NULL OR identifier = ''
    ''')
rows = c.fetchall()
for row in rows:
    print(row)

In [ ]:
# More looking for specific entries with no identifier

c.execute('''
    SELECT identifier, id
    FROM images
    WHERE identifier IS NULL OR identifier = ''
    ''')
rows = c.fetchall()
for row in rows:
    print(row)

In [ ]:
# Find number of images in each month/year

c.execute('''
    SELECT count(images.identifier), strftime("%m-%Y", metadata.created) as 'mY'
    FROM images
    LEFT JOIN metadata ON images.identifier = metadata.identifier 
    GROUP BY strftime("%m-%Y", metadata.created)
    ORDER BY strftime("%Y", metadata.created) ASC
    ''')
rows = c.fetchall()
for row in rows:
    print(row)

In [ ]:
# Find number of images by year

c.execute('''
    SELECT count(images.identifier), strftime("%Y", metadata.created) as 'Y'
    FROM images
    LEFT JOIN metadata ON images.identifier = metadata.identifier 
    GROUP BY strftime("%Y", metadata.created)
    ORDER BY strftime("%Y", metadata.created) ASC
    ''')
rows = c.fetchall()
for row in rows:
    print(row)

In [ ]:
total = 0
for row in rows:
    total += row[0]
print(total)

In [ ]:
# Find number of articles in each month/year

c.execute('''
    SELECT count(metadata.identifier), strftime("%m-%Y", metadata.created) as 'mY'
    FROM metadata
    GROUP BY strftime("%m-%Y", metadata.created)
    ORDER BY strftime("%Y", metadata.created) ASC
    ''')
rows = c.fetchall()
for row in rows:
    print(row)

In [ ]:
# Find number of articles by year

c.execute('''
    SELECT count(metadata.identifier), strftime("%Y", metadata.created) as 'Y'
    FROM metadata
    GROUP BY strftime("%Y", metadata.created)
    ORDER BY strftime("%Y", metadata.created) ASC
    ''')
rows = c.fetchall()
for row in rows:
    print(row)

In [ ]:
total = 0
for row in rows:
    total += row[0]
print(total)

In [ ]:
# Find number of articles by year by category

c.execute('''
    SELECT count(metadata.identifier), strftime("%Y", metadata.created) as 'Y'
    FROM metadata
    WHERE substr(trim(cat),1,instr(trim(cat)||' ',' ')-1) = 'cs.CV'
    GROUP BY strftime("%Y", metadata.created)
    ORDER BY strftime("%Y", metadata.created) ASC
    ''')
rows = c.fetchall()
for row in rows:
    print(row)

In [ ]:
# Find number of articles by year by category

c.execute('''
    SELECT count(metadata.identifier), strftime("%Y", metadata.created) as 'Y'
    FROM metadata
    WHERE substr(trim(cat),1,instr(trim(cat)||' ',' ')-1) = 'cs.CV'
    AND strftime("%Y", metadata.created) = '2018'
    GROUP BY strftime("%Y", metadata.created)
    ORDER BY strftime("%Y", metadata.created) ASC
    ''')
rows = c.fetchall()
for row in rows:
    print(row)

In [ ]:
print(len(rows))

In [ ]:
# values = np.array()
values = [item[0] for item in rows]
plt.plot(values)

In [ ]:
# Find number of images per each different imageformat

c.execute('''
    SELECT imageformat, count(imageformat)
    FROM images
    GROUP BY imageformat
    ORDER BY count(imageformat) DESC
    ''')
rows = c.fetchall()
for row in rows:
    print(row)

In [ ]:
# Get only the first listed category

c.execute('''
    SELECT identifier, cat, substr(trim(cat),1,instr(trim(cat)||' ',' ')-1)
    FROM metadata
    LIMIT 20
    ''')
rows = c.fetchall()
for row in rows:
    print(row)

In [ ]:
# Get the licence information for number of articles

c.execute('''
    SELECT licence, COUNT(licence)
    FROM metadata
    GROUP BY licence
    HAVING COUNT(identifier) > 0
    ''')
rows = c.fetchall()
for row in rows:
    print(row)

In [ ]:
# Get the number of images per licence

c.execute('''
    SELECT metadata.licence, COUNT(metadata.licence)
    FROM images
    LEFT JOIN metadata ON images.identifier = metadata.identifier
    GROUP BY metadata.licence
    HAVING COUNT(images.identifier) > 0
    ''')
rows = c.fetchall()
for row in rows:
    print(row)

In [ ]:
c.execute('''
    SELECT COUNT(*)
    FROM images
    ''')
rows = c.fetchall()
for row in rows:
    print(row)

In [ ]:
# Get number of articles for each primary category

c.execute('''
    SELECT count(substr(trim(cat),1,instr(trim(cat)||' ',' ')-1)), substr(trim(cat),1,instr(trim(cat)||' ',' ')-1)
    FROM metadata
    GROUP BY substr(trim(cat),1,instr(trim(cat)||' ',' ')-1)
    ''')
rows = c.fetchall()
for row in rows:
    print(row)

In [ ]:
# Get the number of images per extension

c.execute('''
    SELECT images.filename, COUNT(reverse(left(reverse(images.filename),charindex('.',reverse(images.filename))-1)))
    FROM images
    GROUP BY reverse(left(reverse(images.filename),charindex('.',reverse(images.filename))-1))
    ''')
rows = c.fetchall()
for row in rows:
    print(row)

In [ ]:
# Get the number of images per extension
# don't filter based on X or Y dimension

db.create_function("reverse", 1, lambda s: s[::-1])
c.execute('''
    SELECT COUNT(reverse(substr(reverse(filename),1,instr(reverse(filename),'.')-1))), reverse(substr(reverse(filename),1,instr(reverse(filename),'.')-1)) AS extension
    FROM images
    GROUP BY extension 
    ''')

rows = c.fetchall()
for row in rows:
    print(row)

In [9]:
# Get the number of images per extension
# DO filter based on X or Y dimension

db.create_function("reverse", 1, lambda s: s[::-1])
c.execute('''
    SELECT COUNT(reverse(substr(reverse(filename),1,instr(reverse(filename),'.')-1))), reverse(substr(reverse(filename),1,instr(reverse(filename),'.')-1)) AS extension
    FROM images
    WHERE x is not null and x != ''
    AND y is not null and y != ''
    AND imageformat is not null and imageformat != ''
    GROUP BY extension
    ''')

rows = c.fetchall()
for row in rows:
    print(row)

(25131, 'EPS')
(653, 'EPSF')
(40, 'Eps')
(605, 'GIF')
(919, 'JPEG')
(7788, 'JPG')
(1386, 'PDF')
(11250, 'PNG')
(5226, 'PS')
(9, 'Ps')
(1, 'ePS')
(4197911, 'eps')
(3407, 'epsf')
(18449, 'gif')
(26162, 'jpeg')
(450583, 'jpg')
(1, 'pS')
(3297657, 'pdf')
(1065481, 'png')
(904078, 'ps')
(23922, 'pstex')
(12400, 'svg')

In [11]:
# Get the number of images per extension by year
# DO filter based on X or Y dimension

db.create_function("reverse", 1, lambda s: s[::-1])
c.execute('''
    SELECT reverse(substr(reverse(filename),1,instr(reverse(filename),'.')-1)) AS extension, COUNT(reverse(substr(reverse(filename),1,instr(reverse(filename),'.')-1)))
    FROM images
    LEFT JOIN metadata ON images.identifier = metadata.identifier
    WHERE x is not null and x != ''
    AND y is not null and y != ''
    AND imageformat is not null and imageformat != ''
    AND strftime("%Y", metadata.created) = '2018'
    GROUP BY extension
    ''')

rows = c.fetchall()
for row in rows:
    print(row)

('EPS', 441)
('JPEG', 254)
('JPG', 2004)
('PDF', 310)
('PNG', 4282)
('eps', 205067)
('gif', 162)
('jpeg', 6311)
('jpg', 111482)
('pdf', 690138)
('png', 334027)
('ps', 10665)
('pstex', 84)
('svg', 2660)

In [43]:
# Get the number of images per extension
# DO filter based on X or Y dimension

db.create_function("reverse", 1, lambda s: s[::-1])
c.execute('''
    SELECT reverse(substr(reverse(filename),1,instr(reverse(filename),'.')-1)) AS extension, COUNT(reverse(substr(reverse(filename),1,instr(reverse(filename),'.')-1)))
    FROM images
    LEFT JOIN metadata ON images.identifier = metadata.identifier
    WHERE x is not null and x != ''
    AND y is not null and y != ''
    AND imageformat is not null and imageformat != ''
    GROUP BY extension
    ''')

rows = c.fetchall()
for row in rows:
    print(row)
    
total = 0
for row in rows:
    total += row[1]
print("total:", total)

alldata = []
for i, row in enumerate(rows):
    alldata.append([row[0], row[1], row[1]/total])
for d in alldata:
    print("{} | {} | {:2.2%}".format(d[0], d[1], d[2]))

('EPS', 25131)
('EPSF', 653)
('Eps', 40)
('GIF', 605)
('JPEG', 919)
('JPG', 7788)
('PDF', 1386)
('PNG', 11250)
('PS', 5226)
('Ps', 9)
('ePS', 1)
('eps', 4197911)
('epsf', 3407)
('gif', 18449)
('jpeg', 26162)
('jpg', 450583)
('pS', 1)
('pdf', 3297657)
('png', 1065481)
('ps', 904078)
('pstex', 23922)
('svg', 12400)
total: 10053059
EPS | 25131 | 0.25%
EPSF | 653 | 0.01%
Eps | 40 | 0.00%
GIF | 605 | 0.01%
JPEG | 919 | 0.01%
JPG | 7788 | 0.08%
PDF | 1386 | 0.01%
PNG | 11250 | 0.11%
PS | 5226 | 0.05%
Ps | 9 | 0.00%
ePS | 1 | 0.00%
eps | 4197911 | 41.76%
epsf | 3407 | 0.03%
gif | 18449 | 0.18%
jpeg | 26162 | 0.26%
jpg | 450583 | 4.48%
pS | 1 | 0.00%
pdf | 3297657 | 32.80%
png | 1065481 | 10.60%
ps | 904078 | 8.99%
pstex | 23922 | 0.24%
svg | 12400 | 0.12%

In [40]:
# Get list of years

c.execute('''
    SELECT strftime("%Y", metadata.created), COUNT(strftime("%Y", metadata.created))
    FROM metadata
    GROUP BY strftime("%Y", metadata.created)
    ''')

years = []

rows = c.fetchall()
for row in rows:
    print(row)
    years.append(row[0])
print(years)

('1986', 1)
('1988', 1)
('1989', 8)
('1990', 25)
('1991', 370)
('1992', 3181)
('1993', 6728)
('1994', 10085)
('1995', 12994)
('1996', 15876)
('1997', 19621)
('1998', 24174)
('1999', 27694)
('2000', 30672)
('2001', 33127)
('2002', 36102)
('2003', 39389)
('2004', 43719)
('2005', 46863)
('2006', 50303)
('2007', 55768)
('2008', 58796)
('2009', 64077)
('2010', 70283)
('2011', 76604)
('2012', 84385)
('2013', 92864)
('2014', 97593)
('2015', 105124)
('2016', 113422)
('2017', 123750)
('2018', 140242)
('2019', 22721)
['1986', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019']

In [41]:
# Get the number of images per extension by year
# DO filter based on X or Y dimension

data = []
# years = ["2000", "2005", "2010", "2015"]

db.create_function("reverse", 1, lambda s: s[::-1])
sql = ('''
    SELECT reverse(substr(reverse(filename),1,instr(reverse(filename),'.')-1)) AS extension, COUNT(reverse(substr(reverse(filename),1,instr(reverse(filename),'.')-1)))
    FROM images
    LEFT JOIN metadata ON images.identifier = metadata.identifier
    WHERE x is not null and x != ''
    AND y is not null and y != ''
    AND imageformat is not null and imageformat != ''
    AND strftime("%Y", metadata.created) = ?
    GROUP BY extension
    ''')

# data = []

for y, year in enumerate(years):
    print("*" * 20)
    print(year)
    print("*" * 20)
    c.execute(sql, (year, ))

    rows = c.fetchall()
#     for row in rows:
#         print(row)
    total = 0
    for row in rows:
        total += row[1]
    print("total:", total)

    data = []
    for i, row in enumerate(rows):
        data.append([row[0], row[1], row[1]/total])
    for d in data:
        print("{} | {} | {:2.2%}".format(d[0], d[1], d[2]))
#     print(data)

********************
1986
********************
total: 0
********************
1988
********************
total: 11
eps | 10 | 90.91%
ps | 1 | 9.09%
********************
1989
********************
total: 0
********************
1990
********************
total: 130
eps | 64 | 49.23%
ps | 66 | 50.77%
********************
1991
********************
total: 146
eps | 40 | 27.40%
ps | 106 | 72.60%
********************
1992
********************
total: 942
PS | 5 | 0.53%
eps | 268 | 28.45%
ps | 669 | 71.02%
********************
1993
********************
total: 6863
PS | 9 | 0.13%
eps | 1302 | 18.97%
epsf | 6 | 0.09%
jpg | 3 | 0.04%
pdf | 4 | 0.06%
png | 2276 | 33.16%
ps | 3263 | 47.54%
********************
1994
********************
total: 19984
EPS | 22 | 0.11%
PS | 13 | 0.07%
eps | 2874 | 14.38%
epsf | 49 | 0.25%
gif | 11 | 0.06%
jpg | 1 | 0.01%
pdf | 5 | 0.03%
png | 9137 | 45.72%
ps | 7868 | 39.37%
pstex | 4 | 0.02%
********************
1995
********************
total: 26699
EPS | 7 | 0.03%
GIF | 11 | 0.04%
PS | 63 | 0.24%
eps | 6771 | 25.36%
epsf | 214 | 0.80%
gif | 22 | 0.08%
jpg | 4 | 0.01%
png | 2913 | 10.91%
ps | 16664 | 62.41%
pstex | 30 | 0.11%
********************
1996
********************
total: 50968
EPS | 64 | 0.13%
EPSF | 4 | 0.01%
PS | 103 | 0.20%
eps | 18769 | 36.83%
epsf | 196 | 0.38%
gif | 521 | 1.02%
jpeg | 3 | 0.01%
jpg | 123 | 0.24%
pdf | 1 | 0.00%
png | 542 | 1.06%
ps | 30519 | 59.88%
pstex | 123 | 0.24%
********************
1997
********************
total: 75456
EPS | 205 | 0.27%
EPSF | 24 | 0.03%
GIF | 70 | 0.09%
JPG | 2 | 0.00%
PS | 325 | 0.43%
eps | 32275 | 42.77%
epsf | 319 | 0.42%
gif | 786 | 1.04%
jpeg | 13 | 0.02%
jpg | 441 | 0.58%
pdf | 1 | 0.00%
png | 307 | 0.41%
ps | 40417 | 53.56%
pstex | 271 | 0.36%
********************
1998
********************
total: 101153
EPS | 365 | 0.36%
EPSF | 107 | 0.11%
GIF | 191 | 0.19%
JPG | 73 | 0.07%
PDF | 1 | 0.00%
PS | 507 | 0.50%
eps | 48651 | 48.10%
epsf | 209 | 0.21%
gif | 3584 | 3.54%
jpeg | 68 | 0.07%
jpg | 802 | 0.79%
pdf | 53 | 0.05%
png | 115 | 0.11%
ps | 46046 | 45.52%
pstex | 381 | 0.38%
********************
1999
********************
total: 121904
EPS | 736 | 0.60%
EPSF | 103 | 0.08%
GIF | 125 | 0.10%
JPG | 43 | 0.04%
PDF | 14 | 0.01%
PS | 501 | 0.41%
eps | 65476 | 53.71%
epsf | 213 | 0.17%
gif | 4536 | 3.72%
jpeg | 141 | 0.12%
jpg | 1112 | 0.91%
pdf | 96 | 0.08%
png | 80 | 0.07%
ps | 48088 | 39.45%
pstex | 640 | 0.53%
********************
2000
********************
total: 137581
EPS | 759 | 0.55%
EPSF | 92 | 0.07%
GIF | 76 | 0.06%
JPEG | 10 | 0.01%
JPG | 98 | 0.07%
PDF | 22 | 0.02%
PNG | 34 | 0.02%
PS | 584 | 0.42%
eps | 81723 | 59.40%
epsf | 427 | 0.31%
gif | 2264 | 1.65%
jpeg | 73 | 0.05%
jpg | 1518 | 1.10%
pdf | 95 | 0.07%
png | 322 | 0.23%
ps | 48861 | 35.51%
pstex | 623 | 0.45%
********************
2001
********************
total: 150335
EPS | 714 | 0.47%
EPSF | 57 | 0.04%
GIF | 9 | 0.01%
JPG | 58 | 0.04%
PDF | 8 | 0.01%
PNG | 49 | 0.03%
PS | 485 | 0.32%
eps | 97677 | 64.97%
epsf | 377 | 0.25%
gif | 1669 | 1.11%
jpeg | 130 | 0.09%
jpg | 1817 | 1.21%
pdf | 177 | 0.12%
png | 430 | 0.29%
ps | 46159 | 30.70%
pstex | 519 | 0.35%
********************
2002
********************
total: 171633
EPS | 1047 | 0.61%
EPSF | 57 | 0.03%
GIF | 17 | 0.01%
JPEG | 4 | 0.00%
JPG | 58 | 0.03%
PDF | 5 | 0.00%
PNG | 30 | 0.02%
PS | 366 | 0.21%
eps | 120220 | 70.04%
epsf | 200 | 0.12%
gif | 1146 | 0.67%
jpeg | 166 | 0.10%
jpg | 2097 | 1.22%
pdf | 217 | 0.13%
png | 661 | 0.39%
ps | 44348 | 25.84%
pstex | 994 | 0.58%
********************
2003
********************
total: 190463
EPS | 1324 | 0.70%
EPSF | 31 | 0.02%
GIF | 13 | 0.01%
JPG | 113 | 0.06%
PNG | 56 | 0.03%
PS | 375 | 0.20%
eps | 138961 | 72.96%
epsf | 193 | 0.10%
gif | 926 | 0.49%
jpeg | 54 | 0.03%
jpg | 1855 | 0.97%
pdf | 234 | 0.12%
png | 420 | 0.22%
ps | 44816 | 23.53%
pstex | 1092 | 0.57%
********************
2004
********************
total: 220111
EPS | 1740 | 0.79%
EPSF | 46 | 0.02%
GIF | 25 | 0.01%
JPEG | 1 | 0.00%
JPG | 78 | 0.04%
PDF | 1 | 0.00%
PNG | 88 | 0.04%
PS | 292 | 0.13%
Ps | 9 | 0.00%
eps | 166239 | 75.53%
epsf | 202 | 0.09%
gif | 577 | 0.26%
jpeg | 150 | 0.07%
jpg | 1426 | 0.65%
pdf | 420 | 0.19%
png | 411 | 0.19%
ps | 47234 | 21.46%
pstex | 1171 | 0.53%
svg | 1 | 0.00%
********************
2005
********************
total: 243480
EPS | 2077 | 0.85%
EPSF | 32 | 0.01%
GIF | 25 | 0.01%
JPG | 58 | 0.02%
PDF | 1 | 0.00%
PNG | 11 | 0.00%
PS | 95 | 0.04%
eps | 188213 | 77.30%
epsf | 112 | 0.05%
gif | 278 | 0.11%
jpeg | 112 | 0.05%
jpg | 1589 | 0.65%
pdf | 1103 | 0.45%
png | 355 | 0.15%
ps | 46210 | 18.98%
pstex | 3208 | 1.32%
svg | 1 | 0.00%
********************
2006
********************
total: 266332
EPS | 1889 | 0.71%
EPSF | 13 | 0.00%
Eps | 2 | 0.00%
GIF | 8 | 0.00%
JPG | 73 | 0.03%
PDF | 10 | 0.00%
PNG | 9 | 0.00%
PS | 200 | 0.08%
eps | 211162 | 79.29%
epsf | 296 | 0.11%
gif | 302 | 0.11%
jpeg | 47 | 0.02%
jpg | 935 | 0.35%
pdf | 1887 | 0.71%
png | 363 | 0.14%
ps | 46862 | 17.60%
pstex | 2274 | 0.85%
********************
2007
********************
total: 302805
EPS | 1956 | 0.65%
EPSF | 64 | 0.02%
Eps | 4 | 0.00%
GIF | 7 | 0.00%
JPG | 116 | 0.04%
PDF | 7 | 0.00%
PNG | 20 | 0.01%
PS | 164 | 0.05%
eps | 227454 | 75.12%
epsf | 80 | 0.03%
gif | 380 | 0.13%
jpeg | 31 | 0.01%
jpg | 5323 | 1.76%
pdf | 17128 | 5.66%
png | 4017 | 1.33%
ps | 44022 | 14.54%
pstex | 2018 | 0.67%
svg | 14 | 0.00%
********************
2008
********************
total: 341963
EPS | 2129 | 0.62%
EPSF | 6 | 0.00%
GIF | 8 | 0.00%
JPG | 157 | 0.05%
PDF | 6 | 0.00%
PNG | 112 | 0.03%
PS | 197 | 0.06%
eps | 248476 | 72.66%
epsf | 82 | 0.02%
gif | 183 | 0.05%
jpeg | 132 | 0.04%
jpg | 7875 | 2.30%
pdf | 29866 | 8.73%
png | 6177 | 1.81%
ps | 44458 | 13.00%
pstex | 2027 | 0.59%
svg | 72 | 0.02%
********************
2009
********************
total: 388177
EPS | 2076 | 0.53%
EPSF | 1 | 0.00%
Eps | 13 | 0.00%
GIF | 15 | 0.00%
JPEG | 21 | 0.01%
JPG | 114 | 0.03%
PDF | 34 | 0.01%
PNG | 211 | 0.05%
PS | 135 | 0.03%
eps | 262357 | 67.59%
epsf | 21 | 0.01%
gif | 274 | 0.07%
jpeg | 78 | 0.02%
jpg | 9043 | 2.33%
pdf | 54829 | 14.12%
png | 9403 | 2.42%
ps | 47476 | 12.23%
pstex | 1877 | 0.48%
svg | 199 | 0.05%
********************
2010
********************
total: 431052
EPS | 1602 | 0.37%
EPSF | 1 | 0.00%
JPG | 257 | 0.06%
PDF | 45 | 0.01%
PNG | 243 | 0.06%
PS | 215 | 0.05%
eps | 268823 | 62.36%
epsf | 48 | 0.01%
gif | 56 | 0.01%
jpeg | 471 | 0.11%
jpg | 11344 | 2.63%
pdf | 84564 | 19.62%
png | 15709 | 3.64%
ps | 45588 | 10.58%
pstex | 1486 | 0.34%
svg | 600 | 0.14%
********************
2011
********************
total: 496838
EPS | 1326 | 0.27%
Eps | 21 | 0.00%
GIF | 1 | 0.00%
JPEG | 2 | 0.00%
JPG | 293 | 0.06%
PDF | 97 | 0.02%
PNG | 356 | 0.07%
PS | 149 | 0.03%
eps | 282288 | 56.82%
epsf | 78 | 0.02%
gif | 100 | 0.02%
jpeg | 430 | 0.09%
jpg | 13828 | 2.78%
pdf | 132761 | 26.72%
png | 23298 | 4.69%
ps | 39917 | 8.03%
pstex | 1388 | 0.28%
svg | 505 | 0.10%
********************
2012
********************
total: 560212
EPS | 921 | 0.16%
EPSF | 15 | 0.00%
JPEG | 1 | 0.00%
JPG | 359 | 0.06%
PDF | 97 | 0.02%
PNG | 214 | 0.04%
PS | 162 | 0.03%
eps | 278910 | 49.79%
epsf | 68 | 0.01%
gif | 98 | 0.02%
jpeg | 804 | 0.14%
jpg | 21027 | 3.75%
pdf | 184218 | 32.88%
png | 33605 | 6.00%
ps | 37997 | 6.78%
pstex | 1031 | 0.18%
svg | 685 | 0.12%
********************
2013
********************
total: 658837
EPS | 844 | 0.13%
GIF | 2 | 0.00%
JPEG | 41 | 0.01%
JPG | 446 | 0.07%
PDF | 94 | 0.01%
PNG | 494 | 0.07%
PS | 152 | 0.02%
eps | 281014 | 42.65%
epsf | 12 | 0.00%
gif | 154 | 0.02%
jpeg | 1522 | 0.23%
jpg | 22740 | 3.45%
pdf | 269027 | 40.83%
png | 48064 | 7.30%
ps | 32403 | 4.92%
pstex | 1121 | 0.17%
svg | 707 | 0.11%
********************
2014
********************
total: 729009
EPS | 903 | 0.12%
JPEG | 43 | 0.01%
JPG | 476 | 0.07%
PDF | 109 | 0.01%
PNG | 649 | 0.09%
PS | 57 | 0.01%
eps | 263541 | 36.15%
gif | 81 | 0.01%
jpeg | 1955 | 0.27%
jpg | 28401 | 3.90%
pdf | 327103 | 44.87%
png | 76969 | 10.56%
ps | 26612 | 3.65%
pstex | 678 | 0.09%
svg | 1432 | 0.20%
********************
2015
********************
total: 857955
EPS | 680 | 0.08%
GIF | 2 | 0.00%
JPEG | 72 | 0.01%
JPG | 590 | 0.07%
PDF | 202 | 0.02%
PNG | 865 | 0.10%
PS | 19 | 0.00%
ePS | 1 | 0.00%
eps | 254081 | 29.61%
gif | 96 | 0.01%
jpeg | 3341 | 0.39%
jpg | 49232 | 5.74%
pdf | 412422 | 48.07%
png | 112117 | 13.07%
ps | 21994 | 2.56%
pstex | 429 | 0.05%
svg | 1812 | 0.21%
********************
2016
********************

total: 1003563
EPS | 610 | 0.06%
JPEG | 100 | 0.01%
JPG | 965 | 0.10%
PDF | 140 | 0.01%
PNG | 1261 | 0.13%
PS | 34 | 0.00%
eps | 233264 | 23.24%
epsf | 5 | 0.00%
gif | 121 | 0.01%
jpeg | 4385 | 0.44%
jpg | 76346 | 7.61%
pS | 1 | 0.00%
pdf | 500624 | 49.88%
png | 164472 | 16.39%
ps | 19385 | 1.93%
pstex | 259 | 0.03%
svg | 1591 | 0.16%
********************
2017
********************
total: 1130570
EPS | 694 | 0.06%
JPEG | 370 | 0.03%
JPG | 1357 | 0.12%
PDF | 183 | 0.02%
PNG | 2266 | 0.20%
PS | 19 | 0.00%
eps | 211941 | 18.75%
gif | 122 | 0.01%
jpeg | 5745 | 0.51%
jpg | 80219 | 7.10%
pdf | 590684 | 52.25%
png | 219291 | 19.40%
ps | 15364 | 1.36%
pstex | 194 | 0.02%
svg | 2121 | 0.19%
********************
2018
********************
total: 1367887
EPS | 441 | 0.03%
JPEG | 254 | 0.02%
JPG | 2004 | 0.15%
PDF | 310 | 0.02%
PNG | 4282 | 0.31%
eps | 205067 | 14.99%
gif | 162 | 0.01%
jpeg | 6311 | 0.46%
jpg | 111482 | 8.15%
pdf | 690138 | 50.45%
png | 334027 | 24.42%
ps | 10665 | 0.78%
pstex | 84 | 0.01%
svg | 2660 | 0.19%
********************
2019
********************
total: 0

In [36]:
for d in data:
    print(d)

['EPS', 0.00551675013264913]
['EPSF', 0.0006686969857756522]
['GIF', 0.0005524018578146691]
['JPEG', 7.268445497561436e-05]
['JPG', 0.0007123076587610208]
['PDF', 0.0001599058009463516]
['PNG', 0.0002471271469170888]
['PS', 0.004244772170575879]
['eps', 0.5939991713972133]
['epsf', 0.0031036262274587332]
['gif', 0.016455760606479092]
['jpeg', 0.0005305965213219849]
['jpg', 0.01103350026529826]
['pdf', 0.0006905023222683364]
['png', 0.0023404394502147827]
['ps', 0.35514351545634937]
['pstex', 0.004528241544980775]
['EPS', 0.008530474782322984]
['EPSF', 0.0001314276326597667]
['GIF', 0.00010267783801544274]
['JPG', 0.00023821258419582717]
['PDF', 4.10711352061771e-06]
['PNG', 4.517824872679481e-05]
['PS', 0.00039017578445868246]
['eps', 0.773012157056021]
['epsf', 0.00045999671430918353]
['gif', 0.0011417775587317233]
['jpeg', 0.00045999671430918353]
['jpg', 0.006526203384261541]
['pdf', 0.004530146213241334]
['png', 0.001458025299819287]
['ps', 0.18978971578774437]
['pstex', 0.013175620174141613]
['svg', 4.10711352061771e-06]
['EPS', 0.0037164889618885887]
['EPSF', 2.3199057190315783e-06]
['JPG', 0.0005962157697911157]
['PDF', 0.00010439575735642103]
['PNG', 0.0005637370897246736]
['PS', 0.0004987797295917894]
['eps', 0.623644015107226]
['epsf', 0.00011135547451351577]
['gif', 0.0001299147202657684]
['jpeg', 0.0010926755936638735]
['jpg', 0.026317010476694228]
['pdf', 0.1961805072241864]
['png', 0.03644339894026707]
['ps', 0.1057598619192116]
['pstex', 0.003447379898480926]
['svg', 0.001391943431418947]
['EPS', 0.0007925823615457687]
['GIF', 2.3311245927816728e-06]
['JPEG', 8.392048534014021e-05]
['JPG', 0.0006876817548705934]
['PDF', 0.00023544358387094893]
['PNG', 0.0010082113863780734]
['PS', 2.214568363142589e-05]
['ePS', 1.1655622963908364e-06]
['eps', 0.2961472338292801]
['gif', 0.00011189398045352029]
['jpeg', 0.003894143632241784]
['jpg', 0.05738296297591366]
['pdf', 0.48070353340210153]
['png', 0.1306793479844514]
['ps', 0.025635377146820054]
['pstex', 0.0005000262251516688]
['svg', 0.0021119988810601956]

In [18]:
# get proportion as percentage

total = 0
for row in rows:
    total += row[1]
print(total)

data = []
for row in rows:
    data.append([row[0], row[1], row[1]/total])
print(data)

1367887
[['EPS', 441, 0.00032239505163803733], ['JPEG', 254, 0.00018568785287088774], ['JPG', 2004, 0.0014650332958789725], ['PDF', 310, 0.00022662690704714644], ['PNG', 4282, 0.003130375535406068], ['eps', 205067, 0.14991516112076508], ['gif', 162, 0.00011843083529560555], ['jpeg', 6311, 0.004613685194756584], ['jpg', 111482, 0.08149942210138703], ['pdf', 690138, 0.5045285173409791], ['png', 334027, 0.244191954452378], ['ps', 10665, 0.007796696656960699], ['pstex', 84, 6.140858126438807e-05], ['svg', 2660, 0.0019446050733722888]]

In [20]:
# take second element for sort
def takeThird(elem):
    return elem[1]
data.sort(key=takeThird)

for d in data:
    print("{} | {} | {:2.2%}".format(d[0], d[1], d[2]))

pstex | 84 | 0.01%
gif | 162 | 0.01%
JPEG | 254 | 0.02%
PDF | 310 | 0.02%
EPS | 441 | 0.03%
JPG | 2004 | 0.15%
svg | 2660 | 0.19%
PNG | 4282 | 0.31%
jpeg | 6311 | 0.46%
ps | 10665 | 0.78%
jpg | 111482 | 8.15%
eps | 205067 | 14.99%
png | 334027 | 24.42%
pdf | 690138 | 50.45%

In [ ]:
values = []
names = []
for row in rows:
    values.append(row[0])
    names.append(row[1])

In [ ]:
values_save = values
names_save = names

In [ ]:
values = values_save
names = names_save

In [ ]:
for i, name in enumerate(names.copy()):
    names[i] = name.lower()
print(names)

In [ ]:
print(values)
print(names)
print(len(values))
print(len(names))

In [ ]:
# attempting to remove duplicates (???)
currentname = ""
for ii in range(0, len(names)):
    for i, name_one in enumerate(names.copy()[ii:]):
        for j, name_two in enumerate(names.copy()[:]):
            print("name_one:",name_one)
            print("name_two:",name_two)
            if name_one == name_two and i != j:
                values[i] += values[j]
                del values[j]
                del names[j]
                break
        break

In [ ]:
print(values)
print(names)
print(len(values))
print(len(names))

In [ ]:
total = 0
for row in rows:
    total += row[0]
print(total)

In [ ]:
# writing file to org mode for github

# write the data to a file
with open("stats_articles_by_cat.org", "w") as write_file:
    print("* number of articles by category", file=write_file)
    print("|-|-|", file=write_file)
    for cat in rows:
#         joined = list(zip(cat[1], cat[2]))
        #     print(joined)
        print('|' + str(cat[0]) + "|" + str(cat[1]) + "|", file=write_file)
    print("|-|-|", file=write_file)
write_file.close()